---
import { marked } from 'marked';
import { getCollection } from 'astro:content';
import Section from '../components/layout/Section';
import Layout from './base/Layout.astro';
import ContactBar from '../components/ContactBar.astro';
import Education from '../components/Education';
import WorkExperience from '../components/WorkExperience';
import { DEFAULT_LANG } from '../models/lang';
import FeaturedProjects from '../components/FeaturedProjects';

const { frontmatter } = Astro.props;

const workExperiences = await getCollection('work-experience').then(
    (collection: any[]) => collection.sort((a: any, b: any) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime())
);
const projects = await getCollection('projects').then(
    (collection: any[]) =>
    collection.sort((a: any, b: any) => new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime())
    .filter((project: any) => project.data.featured)
);

---
<Layout title="trietng">
    <div class="px-4 md:px-8 text-justify transition-colors">
        <div class="md:flex md:justify-between md:items-center md:gap-x-8">
            <div class="mb-4 md:mb-0">
                <div class="font-bold text-6xl break-words text-left">{frontmatter.title.greeting}</div>
                <div class="font-bold text-6xl break-words text-left">{frontmatter.title.name}</div>
                <div class="mt-4 text-lg break-words">{frontmatter.summary}</div>
            </div>
            <ContactBar translations={frontmatter.translations} />
        </div>
        <div class="mt-4 text-lg break-words" set:html={marked.parse(frontmatter.welcome)}></div>
        <Section title={frontmatter.translations.education} className="mt-4" client:only="react">
            <Education education={frontmatter.education} translations={frontmatter.translations} lang={Astro.currentLocale || DEFAULT_LANG} />
        </Section>
        <Section title={frontmatter.translations.workExperience} className='mt-4' client:only="react">
            <WorkExperience workExperiences={workExperiences} translations={frontmatter.translations} lang={Astro.currentLocale || DEFAULT_LANG} />
        </Section>
        <!-- <Section title={frontmatter.translations.skills} className='mt-4' client:only="react">
            <Skills client:only="react"/>
        </Section> -->
        <Section title={frontmatter.translations.projects} className='mt-4' client:only="react">
            <!-- Temporary -->
            <FeaturedProjects projects={projects} translations={frontmatter.translations} lang={Astro.currentLocale || DEFAULT_LANG} />
        </Section>
    </div>
</Layout>